@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500;900&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Chivo Mono', monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black; }

h2 {
  font-size: 25px;
  margin-bottom: 10px; }

h2::after {
  content: "";
  display: block;
  width: 30px;
  padding-top: 3px;
  border-bottom: 2px solid #49fa02; }

a {
  color: white; }

.main-wrapper {
  top: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1350px;
  margin: 0 auto; }
  .main-wrapper .left-section {
    width: 30%;
    margin-left: 40px; }
    .main-wrapper .left-section .left-section__photo .photo {
      border-radius: 50%;
      border: 3px solid white;
      width: 100%; }
      .main-wrapper .left-section .left-section__photo .photo:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: ease-in-out .5s;
        -o-transition: ease-in-out .5s;
        transition: ease-in-out .5s; }
    .main-wrapper .left-section .left-section__education {
      text-align: left; }
      .main-wrapper .left-section .left-section__education h2 {
        margin-top: 30px; }
      .main-wrapper .left-section .left-section__education .education {
        font-size: 15px;
        margin: 10px 0px; }
    .main-wrapper .left-section .left-section__info {
      margin: 40px 0px; }
      .main-wrapper .left-section .left-section__info .left-section__place {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px; }
        .main-wrapper .left-section .left-section__info .left-section__place .img {
          width: 30px; }
        .main-wrapper .left-section .left-section__info .left-section__place .left-section__text a {
          color: black; }
        .main-wrapper .left-section .left-section__info .left-section__place .left-section__text a:hover {
          text-decoration: underline;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
        .main-wrapper .left-section .left-section__info .left-section__place .left-section__text {
          min-width: 220px;
          color: black;
          background-color: white;
          border: 2px solid #49fa02;
          border-radius: 25px;
          font-weight: 700;
          padding: 5px;
          margin: auto 10px;
          text-align: left; }
    .main-wrapper .left-section .left-section__skills {
      margin-bottom: 40px; }
      .main-wrapper .left-section .left-section__skills h2 {
        margin-bottom: 10px; }
      .main-wrapper .left-section .left-section__skills .skill {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .main-wrapper .left-section .left-section__skills .skill .skill-text {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: relative; }
        .main-wrapper .left-section .left-section__skills .skill .skill-line {
          color: #49fa02;
          margin-left: 10px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: relative; }
    .main-wrapper .left-section .left-section__language h2 {
      margin-bottom: 10px; }
    .main-wrapper .left-section .left-section__language .list {
      line-height: 20px; }
  .main-wrapper .right-section {
    margin-left: 100px;
    width: 70%; }
    .main-wrapper .right-section .right-section__nav {
      margin: 30px 0px;
      width: 750px;
      font-size: 25px; }
      .main-wrapper .right-section .right-section__nav .right-section__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .main-wrapper .right-section .right-section__nav .right-section__list li {
          margin-right: 50px; }
        .main-wrapper .right-section .right-section__nav .right-section__list li:last-child {
          margin: 0; }
        .main-wrapper .right-section .right-section__nav .right-section__list li {
          position: relative; }
        .main-wrapper .right-section .right-section__nav .right-section__list li a:hover {
          -webkit-transition: 1s all;
          -o-transition: 1s all;
          transition: 1s all;
          color: #49fa02; }
        .main-wrapper .right-section .right-section__nav .right-section__list li a::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          background: none repeat scroll 0 0 transparent;
          height: 2px;
          width: 0;
          background: #49fa02;
          -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
          -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
          transition: width 0.3s ease 0s, left 0.3s ease 0s; }
        .main-wrapper .right-section .right-section__nav .right-section__list li a:hover::after {
          width: 100%;
          left: 0; }
    .main-wrapper .right-section .right-section__top {
      max-width: 500px;
      margin-bottom: 120px; }
      .main-wrapper .right-section .right-section__top .right-section__name {
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: 75px;
        max-width: 400px;
        font-size: 100px;
        margin: 80px 0px 30px 0px; }
      .main-wrapper .right-section .right-section__top .right-section__profession {
        font-size: 20px; }
    .main-wrapper .right-section .right-section__text {
      max-width: 800px; }
      .main-wrapper .right-section .right-section__text .right-section__about {
        margin-bottom: 50px; }
        .main-wrapper .right-section .right-section__text .right-section__about .right-section__title {
          margin: 10px 0px; }
        .main-wrapper .right-section .right-section__text .right-section__about .right-section__text {
          text-align: left; }
      .main-wrapper .right-section .right-section__text .right-section__example h2 {
        margin-bottom: 20px;
        font-size: 25px; }
      .main-wrapper .right-section .right-section__text .right-section__example .right-section__task {
        margin-bottom: 20px; }
      .main-wrapper .right-section .right-section__text .right-section__example .right-section__code {
        background-color: #1f1f1f;
        border-radius: 25px;
        padding: 5px;
        white-space: pre;
        text-align: left; }

.footer {
  max-width: 1350px;
  margin: 20px auto; }
  .footer .footer__inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 350px;
    margin: 0 auto; }
    .footer .footer__inf img {
      max-width: 200px; }
    .footer .footer__inf .rss-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 30px;
      font-weight: 700;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap; }
    .footer .footer__inf .git-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .footer__inf .git-link a img {
        width: 42px; }
    .footer .footer__inf .year {
      padding-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 100px; }

@media (max-width: 575px) {
  .main-wrapper {
    display: block;
    max-width: 570px; }
    .main-wrapper .left-section {
      margin: 0;
      width: 100%; }
      .main-wrapper .left-section .left-section__photo {
        margin: 0;
        width: 90%; }
      .main-wrapper .left-section .left-section__info {
        margin: 20px 0; }
      .main-wrapper .left-section .left-section__skills {
        margin-bottom: 0; }
      .main-wrapper .left-section .left-section__language {
        margin: 20px 0; }
    .main-wrapper .right-section {
      margin: 0px;
      width: 100%; }
      .main-wrapper .right-section .right-section__nav {
        display: none; }
        .main-wrapper .right-section .right-section__nav .right-section__list {
          max-width: 500px; }
          .main-wrapper .right-section .right-section__nav .right-section__list li {
            text-align: center;
            margin-right: 15px; }
      .main-wrapper .right-section .right-section__top {
        border-top: 1px solid #49fa02;
        max-width: 100%;
        margin-bottom: 30px; }
        .main-wrapper .right-section .right-section__top .right-section__name {
          margin: 0;
          max-width: 100%;
          text-align: center;
          font-size: 70px;
          line-height: 80px; }
        .main-wrapper .right-section .right-section__top .right-section__profession {
          max-width: 100%;
          text-align: center;
          font-size: 20px; }
      .main-wrapper .right-section .right-section__text {
        max-width: 570px; }
        .main-wrapper .right-section .right-section__text .right-section__about {
          margin: 30px 0; }
        .main-wrapper .right-section .right-section__text .right-section__example .right-section__code {
          background-color: #1f1f1f;
          border-radius: 25px;
          padding: 5px;
          white-space: pre;
          text-align: left; }
  .footer {
    width: 100%;
    display: block; } }
