@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Inika', serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #EDF2EC; }

header {
  max-width: 1440px;
  margin: 0 auto; }
  header .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1220px;
    margin: 42px auto; }
    header .header__info .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 80px; }
      header .header__info .header__logo img {
        width: 20px;
        height: 20px; }
      header .header__info .header__logo .header__name {
        margin-left: 1px;
        margin-top: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px; }
    header .header__info .header__nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .header__info .header__nav ul li {
        margin-right: 47px;
        margin-top: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px; }
        header .header__info .header__nav ul li:last-child {
          margin-right: 0; }
        header .header__info .header__nav ul li .link-nav {
          color: black; }
        header .header__info .header__nav ul li .link-nav:hover {
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          color: #E06733;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18; }

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; }

.wrapper {
  max-width: 1222px;
  margin: 0 auto; }

.but {
  font-family: 'Inter';
  border: 1px solid #E06733;
  border-radius: 10px;
  padding: 14px 27px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.but-orange {
  padding: 12px 40px;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px; }

.but-orange:hover {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  background-color: #E06733;
  color: white;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25);
  box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25); }

.but-list:hover {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25);
  box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25); }

.two {
  margin-top: 55px; }

main {
  max-width: 1440px;
  max-width: 100%;
  margin: 0 auto; }
  main .section-welcome {
    padding-top: 62px;
    height: 532px;
    color: #636060; }
    main .section-welcome .section-welcome__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      main .section-welcome .section-welcome__wrapper .section-welcome__info {
        font-family: 'Inter';
        margin: 36px 0px 31px 0px; }
        main .section-welcome .section-welcome__wrapper .section-welcome__info .section-welcome__title {
          max-width: 550px;
          font-weight: 700;
          font-size: 45px;
          line-height: 50px; }
          main .section-welcome .section-welcome__wrapper .section-welcome__info .section-welcome__title span {
            color: #499A18; }
        main .section-welcome .section-welcome__wrapper .section-welcome__info .section-welcome__subtitle {
          max-width: 524px;
          margin: 42px 0 48px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 35px; }
        main .section-welcome .section-welcome__wrapper .section-welcome__info .section-welcome__but {
          padding: 0 27px;
          min-height: 44px;
          border: 2px solid #E06733;
          border-radius: 10px;
          background-color: #EDF2EC;
          text-transform: uppercase;
          color: black;
          font-size: 16px;
          line-height: 20px; }
          main .section-welcome .section-welcome__wrapper .section-welcome__info .section-welcome__but:hover {
            -webkit-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s;
            background-color: #E06733;
            color: white;
            -webkit-box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25);
            box-shadow: 4px 4px 8px rgba(0, 125, 0, 0.25); }
  main .section-about {
    width: 100%;
    background-color: white;
    height: 666px; }
    main .section-about .section-about-wrapper {
      padding: 93px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main .section-about .section-about-wrapper .section-about__info {
        max-width: 605px;
        margin-right: 153px; }
        main .section-about .section-about-wrapper .section-about__info .section-about__title {
          padding-top: 66px;
          max-width: 463px; }
          main .section-about .section-about-wrapper .section-about__info .section-about__title span {
            color: #E06733; }
        main .section-about .section-about-wrapper .section-about__info .section-about__text {
          font-family: 'Inter';
          margin-top: 40px;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #636060; }
  main .section-service .section-service__wrapper {
    padding-top: 40px;
    margin-bottom: 121px; }
    main .section-service .section-service__wrapper .section-service__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 80px; }
      main .section-service .section-service__wrapper .section-service__header .section-service__title {
        max-width: 306px;
        margin-right: 142px; }
      main .section-service .section-service__wrapper .section-service__header .section-service__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 559px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        main .section-service .section-service__wrapper .section-service__header .section-service__buttons button {
          margin-right: 38px;
          background-color: #EDF2EC;
          min-height: 49px;
          min-width: 161px; }
          main .section-service .section-service__wrapper .section-service__header .section-service__buttons button:last-child {
            margin: 0; }
          main .section-service .section-service__wrapper .section-service__header .section-service__buttons button:hover {
            background-color: #E06733;
            color: white; }
    main .section-service .section-service__wrapper .section-service__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main .section-service .section-service__wrapper .section-service__cards .section-service__card {
        height: 450px;
        width: 330px;
        font-family: 'Inter';
        border: 1px solid #E3E1D5;
        border-radius: 20px 20px 20px 20px;
        text-align: center;
        margin: 0 116px 0px 0; }
        main .section-service .section-service__wrapper .section-service__cards .section-service__card img {
          width: 328px;
          border-radius: 20px 20px 0px 0px; }
        main .section-service .section-service__wrapper .section-service__cards .section-service__card .card__title {
          margin: 10px 0 0 0;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          color: #E06733; }
        main .section-service .section-service__wrapper .section-service__cards .section-service__card .card__text {
          margin: 15px 0 36px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #717171; }
      main .section-service .section-service__wrapper .section-service__cards:last-child {
        margin-bottom: 71px; }
  main .section-prices {
    font-family: 'Inter';
    background-color: white;
    padding: 40px 0 100px 0; }
    main .section-prices .section-prices__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      main .section-prices .section-prices__wrapper .section-prices__left .section-prices__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px; }
      main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item {
        border: 1px solid #E3E1D5;
        margin-top: 60px;
        max-width: 332px;
        border-radius: 20px; }
        main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item .section-prices-item__wrapper {
          padding: 34px 41px; }
          main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item .section-prices-item__wrapper .list {
            position: relative;
            width: 250px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: #EDF2EC;
            border-radius: 20px;
            margin-bottom: 32px; }
            main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item .section-prices-item__wrapper .list:last-child {
              margin-bottom: 0; }
            main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item .section-prices-item__wrapper .list .section-prices__text {
              padding-left: 40px;
              font-weight: 700;
              font-size: 20px;
              line-height: 20px; }
            main .section-prices .section-prices__wrapper .section-prices__left .section-prices__item .section-prices-item__wrapper .list::after {
              content: '';
              position: absolute;
              top: 17px;
              right: 40px;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background: url("/img/arrow.svg") #D9D9D9 center no-repeat; }
      main .section-prices .section-prices__wrapper .section-prices__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        main .section-prices .section-prices__wrapper .section-prices__right .section-prices-right-header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: right;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          max-width: 452px;
          margin-bottom: 39px;
          font-weight: 700;
          font-size: 40px;
          line-height: 50px; }
          main .section-prices .section-prices__wrapper .section-prices__right .section-prices-right-header h3 {
            margin-bottom: 38px;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px; }
            main .section-prices .section-prices__wrapper .section-prices__right .section-prices-right-header h3 span {
              color: #499A18; }
          main .section-prices .section-prices__wrapper .section-prices__right .section-prices-right-header .but-orange {
            padding: 12px 0;
            text-align: center;
            font-family: 'Inika';
            min-width: 162px;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            background-color: white;
            border-radius: 5px; }
            main .section-prices .section-prices__wrapper .section-prices__right .section-prices-right-header .but-orange:hover {
              color: white;
              background-color: #E06733; }
  main .section-contacts {
    padding-top: 60px; }
    main .section-contacts .section-contacts__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main .section-contacts .section-contacts__wrapper .section-contacts__info .title {
        margin-left: 113px;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px; }
      main .section-contacts .section-contacts__wrapper .section-contacts__info .list {
        margin: 37px 0  0 372px;
        position: relative;
        width: 450px;
        height: 50px;
        text-align: left;
        padding-left: 20px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.05em;
        background-color: #D6E7D2;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px; }
        main .section-contacts .section-contacts__wrapper .section-contacts__info .list .list-title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 50px;
          color: #717171; }
        main .section-contacts .section-contacts__wrapper .section-contacts__info .list .list-title::after {
          content: '';
          position: absolute;
          top: 17px;
          right: 34px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: url("/img/arrowWhite.svg") #AEA1A1 center no-repeat; }

.link-footer {
  color: black; }

.link-footer:hover {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-decoration: underline;
  color: #636060; }

footer {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  height: 130px;
  background-color: white; }
  footer .footer-wrapper {
    padding: 35px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .footer-wrapper .footer__left-pos ul {
      max-width: 182px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer .footer-wrapper .footer__left-pos ul li {
        margin-right: 20px; }
        footer .footer-wrapper .footer__left-pos ul li:last-child {
          margin: 0; }
    footer .footer-wrapper .footer__middle-pos {
      padding-left: 10px;
      max-width: 221px; }
    footer .footer-wrapper .footer__right-pos {
      max-width: 188px; }
      footer .footer-wrapper .footer__right-pos ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        footer .footer-wrapper .footer__right-pos ul li {
          margin-right: 27px; }
          footer .footer-wrapper .footer__right-pos ul li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 9px 0; }
          footer .footer-wrapper .footer__right-pos ul li:last-child {
            margin: 0; }
